body {
  font-size: 14px;
}
body,
html,
form,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
table,
tr,
td,
ul,
ol,
li,
button {
  font-family: "Urbanist", sans-serif;
}
.nav-logo {
  max-width: 150px;
}
.menuButton {
  color: #fff;
  background: #cc3433;
  border: none;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 5px;
  margin-top: -9px;
}
.themeButton {
  color: #fff;
  background: #cc3433;
  border: none;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 5px;
  margin-top: -9px;
}
.themeWhiteButton {
  color: #cc3433;
  background: #fff;
  border: none;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 5px;
  margin-top: -9px;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 700;
  color: black;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #cc3433;
}
header {
  -webkit-box-shadow: 0px 0px 28px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 28px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 28px -8px rgba(0, 0, 0, 0.75);
}
.bannerHome {
  padding: 50px 0;
}
.bannerForm {
  width: 80%;
  margin-left: auto;
  padding: 38px 30px;
  background: #cc3433;
  border-radius: 10px;
}
label {
  font-size: 14px;
}
.themeFeild {
  background: #ffffff;
}
.form-control {
  height: auto;
  font-size: 14px;
}
.themeWhiteButton {
  background: white;
  color: #cc3433;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
}
.mb5 {
  margin-bottom: 5px;
}
.homeCourses {
  background: #fbf8f8;
}
.ptb60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.backgroundEngineering {
  background: url("../img/engineering_bg.png");
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: contain;
}
.backgroundNEET {
  background: url("../img/medical_bg.png");
  background-position: 0% center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 50px auto;
}
.backgroundNDA {
  background: url("../img/nda_bg.png");
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: contain;
}
.subText {
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0px;
  color: #cc3433;
  text-transform: uppercase;
  opacity: 1;
}
.heading {
  font-size: 24px;
  text-align: left;
  font: 700;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
}
.announcementTile {
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;
  padding: 20px 25px;
}
.mtb25 {
  margin-bottom: 25px;
  margin-top: 25px;
}
p {
  margin-bottom: 14px;
}
.homeSuccess {
  background: #cc3433;
}
.homeFocus {
  padding: 60px;
}
.themeFooter {
  background: #cc3433;
  padding: 60px;
}
.testimonialCard {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
}
.tagIcon {
  text-align: center;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;
  padding: 10px;
}

.bannerContact {
  position: relative;
}
.bannerContact .absoluteSection {
  position: absolute;
  width: 100%;
  top: calc(50% - 42px);
  font-weight: 700;
}
.bannerContact .absoluteext {
  font-size: 36px;
  color: #ffffff;
}
/* about Css */
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutSubText {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0px;
  color: #cc3433;
  text-transform: uppercase;
  opacity: 1;
}

.aboutSubDescription {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
  text-align: center;
  padding: 20px;
  width: 1170px;
  letter-spacing: var(--unnamed-character-spacing-0);
}

.aboutExp {
  width: 1170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutType {
  text-align: center;
}
.chooseUs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.aboutAnnouncementTile {
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;
  padding: 20px 25px;
  width: 360px;
  height: auto;
}
.aboutAchivmentContainer {
  box-shadow: 0px 0px 1px #00000029;
  border-radius: 14px;
  padding: 20px 25px;
  /* width: 360px; */
  height: auto;
}

.subAboutAchivmentContainer {
  box-shadow: 0px 0px 1px #00000029;
  border-radius: 14px;
  padding: 10px 20px;
}

.right-direction {
  display: grid !important;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px !important;
  place-items: center;
  justify-content: center;
  padding: 20px !important;
  margin-bottom: 20px !important;
}

@media screen and (min-width:1020px ) {
  .right-direction {
    grid-template-columns: repeat(2, 250px);
  
  }
}