body {
  font-size: 14px;
}
body,
html,
form,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
table,
tr,
td,
ul,
ol,
li,
button {
  font-family: "Urbanist", sans-serif;
}
.nav-logo {
  max-width: 150px;
}
.menuButton {
  color: #fff;
  background: #cc3433;
  border: none;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 5px;
  margin-top: -9px;
}
.themeButton {
  color: #fff;
  background: #cc3433;
  border: none;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 5px;
  margin-top: -9px;
}
.themeWhiteButton {
  color: #cc3433;
  background: #fff;
  border: none;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 5px;
  margin-top: -9px;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 700;
  color: black;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #cc3433;
}
header {
  -webkit-box-shadow: 0px 0px 28px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 28px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 28px -8px rgba(0, 0, 0, 0.75);
}
.bannerHome {
  padding: 50px 0;
}
.bannerForm {
  width: 80%;
  margin-left: auto;
  padding: 38px 30px;
  background: #cc3433;
  border-radius: 10px;
}
label {
  font-size: 14px;
}
.themeFeild {
  background: #ffffff;
}
.form-control {
  height: auto;
  font-size: 14px;
}
.themeWhiteButton {
  background: white;
  color: #cc3433;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
}
.mb5 {
  margin-bottom: 5px;
}
.homeCourses {
  background: #fbf8f8;
}
.ptb60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.backgroundEngineering {
  background: url("../img/engineering_bg.png");
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: contain;
}
.backgroundNEET {
  background: url("../img/medical_bg.png");
  background-position: 0% center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 50px auto;
}
.backgroundNDA {
  background: url("../img/nda_bg.png");
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: contain;
}
.subText {
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0px;
  color: #cc3433;
  text-transform: uppercase;
  opacity: 1;
}
.heading {
  font-size: 24px;
  text-align: left;
  font: 700;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
}
.announcementTile {
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;
  padding: 20px 25px;
}
.mtb25 {
  margin-bottom: 25px;
  margin-top: 25px;
}
p {
  margin-bottom: 14px;
}
.homeSuccess {
  background: #cc3433;
}
.homeFocus {
  padding: 60px;
}
.themeFooter {
  background: #cc3433;
  padding: 60px;
}
.testimonialCard {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
}
.tagIcon {
  text-align: center;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;
  padding: 10px;
}

.bannerContact {
  position: relative;
}
.bannerContact .absoluteSection {
  position: absolute;
  width: 100%;
  top: calc(50% - 42px);
  font-weight: 700;
}
.bannerContact .absoluteext {
  font-size: 36px;
  color: #ffffff;
}
/* about Css */
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutSubText {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0px;
  color: #cc3433;
  text-transform: uppercase;
  opacity: 1;
}

.aboutSubDescription {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
  text-align: center;
  padding: 20px;
  width: 1170px;
  letter-spacing: var(--unnamed-character-spacing-0);
}

.aboutExp {
  width: 1170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutType {
  text-align: center;
}
.chooseUs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.aboutAnnouncementTile {
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;
  padding: 20px 25px;
  width: 360px;
  height: auto;
}
.aboutAchivmentContainer {
  box-shadow: 0px 0px 1px #00000029;
  border-radius: 14px;
  padding: 20px 25px;
  /* width: 360px; */
  height: auto;
}

.subAboutAchivmentContainer {
  box-shadow: 0px 0px 1px #00000029;
  border-radius: 14px;
  padding: 10px 20px;
}

.right-direction {
  display: grid !important;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px !important;
  place-items: center;
  justify-content: center;
  padding: 20px !important;
  margin-bottom: 20px !important;
}

@media screen and (min-width: 1020px) {
  .right-direction {
    grid-template-columns: repeat(2, 250px);
  }
}

.whats-app {
  position: fixed !important;
  width: 60px !important;
  height: 60px;
  bottom: 120px !important;
  right: 10% !important;
  background-color: #43c654 !important;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whats-app:hover {
  width: 160px;
}

.whats-app:hover::after {
  content: "WHATSAPP US";
  display: block;
  position: absolute;
  top: 0;
  right: 65px;
  width: 120px;
  /* height: 60px; */
  background-color: #43c654;
  color: #fff;
  text-align: center;

  transition: right 0.3s ease;
  font-size: 14px;
  font-weight: bold !important;
  /* border-radius: 14px !important; */
  border-radius: 4px;
  padding: 10px 5px;
  margin-top: 10px;
}

.whats-app:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 65px;
  width: 120px;
  /* height: 90%; */
  background-color: #43c654;
  /* transform: rotate(45deg);  */
  transition: right 0.3s ease;
  border-radius: 5px;
}
.my-float {
  margin-top: 16px;
  color: white;
}
.phone-call {
  position: fixed !important;
  width: 60px !important;
  height: 60px;
  bottom: 40px;
  right: 10% !important;
  background-color: #cc3433 !important;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  transition: width 0.3s ease;
}

.phone-call:hover {
  width: 160px;
}

.phone-call:hover::after {
  content: "CALL US";
  display: block;
  position: absolute;
  top: 0;
  right: 65px;
  width: 80px;
  background-color: #cc3433;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold !important;
  transition: right 0.3s ease;
  border-radius: 4px;
  padding: 7px;
  margin-top: 14px;
}

.phone-call:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 65px;
  width: 80px;
  background-color: #cc3433;
  /* transform: rotate(45deg);  */
  transition: right 0.3s ease;
  border-radius: 4px;
  padding: 7px;
  margin-top: 14px;
}

/* Page 2 or 3 or 4 */

.banner-eng {
  position: relative;
  /* margin-top: 20px; */
}
.banner-eng .absoluteSection {
  position: absolute;
  width: 100%;
  top: calc(50% - 42px);
  font-weight: 700;
}
.banner-eng .absoluteext {
  font-size: 36px;
  color: #ffffff;
}
.eng-heading {
  text-align: left;
  font: normal normal bold 24px/48px Urbanist;
  letter-spacing: 0px;
  color: #cc3433;
  text-transform: uppercase;
  opacity: 1;
}
.eng-subHeding {
  text-align: left;
  font: normal normal bold 38px/48px Urbanist;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
}
.image {
  height: 25px;
}
.eng-para {
  text-align: left;
  font: normal normal normal 16px/24px Urbanist;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
}
.iit_jeeImage {
  /* box-shadow: 0px 0px 10px #00000029; */
  border: 10px solid #ffffff;
  border-radius: 14px;
  opacity: 1;
}
.eng-title {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0px;
  color: #cc3433;
  text-transform: uppercase;
  letter-spacing: normal;
  opacity: 1;
}
.eng-choose {
  font-size: 38px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0px;
  color: #313131;
  /* text-transform: uppercase; */
  opacity: 1;
}
/* .eng-heading {
  text-align: center;
  font-size: 24px;
} */
.card {
  margin: 20px;
}

.card-link {
  color: #cc3433;
  text-decoration: underline;
}
.card-body1 {
  color: white;
}

.bg-red {
  background-color: #cc3433 !important;
  width: 100%;
  height: 50%;
}
.card1 {
}
.eng_sub-title {
  font-size: 38px;
  font-weight: 700;
}
.eng-title {
  color: #cc3433;
}
.eng-title1 {
  text-align: left;
  font: normal normal normal 38px/48px Urbanist;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
}
.bg-color {
  color: #fff;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 5px;
  text-transform: uppercase;
}
.card-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;
  opacity: 1;
}

.card-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;
  opacity: 1;
  width: calc(33% - 40px);
  /* margin: 0 20px; */
}

.cardHeader {
  background: #cc3433 0% 0% no-repeat padding-box;
  border-radius: 14px 14px 0px 0px;
  opacity: 1;
  padding: 10px !important;
  text-align: left;
  font: normal normal bold 24px/33px Urbanist;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;

  height: 62px;
}
.eng_type {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3%;
}

@media screen and (max-width: 935px) {
  .eng_type {
    flex-wrap: wrap;
  }
}


.choose_us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.choose_us_img {
  text-align: center;
}
.choose_us_img img {
  width: 70px;
  height: 70px;
}

.choose_us_img h5 {
  width: 130px;
  margin: 3px;
}
/* .card-size {
  margin-top: -12%;
  width: 1100px;
  border: none;
  background-color: #cc3433;
  background: #cc3433 0% 0% no-repeat padding-box;
  border-radius: 14px 0px 0px 0px;
  opacity: 1;
}
@media screen and (max-width: 950px) {
  .card-size {
    margin-top: -15px;
    border-radius: 14px 0px 0px 0px;
    height: 50%;
    background-color: #cc3433;
  }
} */
.card-size {
  margin-top: -10%;
  width: 1100px;
  border: none;
  background-color: #cc3433;
  border: none;
  border-radius: 14px 14px 0px 0px;
}
@media screen and (max-width: 950px) {
  .card-size {
    margin-top: -14px;
    border-radius: 14px 14px 0px 0px;
    height: 50%;
    background-color: #cc3433;
  }
}
@media screen and (min-width: 1900px) {
  .card-size {
    top: 40px;
  }
}
.ptb601 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.orderList {
  display: grid;
  place-items: center;
}
@media screen and (min-width: 765px) {
  .orderList {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    width: 90%;
  }
}
.bg-banner {
  background-color: #fbf8f8;
  padding: 20px 40px;
}
.best {
  text-align: center;
  font: normal normal bold 24px/48px Urbanist;
  letter-spacing: 0px;
  color: #cc3433;
  text-transform: uppercase;
}
.best_1 {
  text-align: center;
  font: normal normal bold 38px/48px Urbanist;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
}
.imag-para {
  margin-left: 10px;
}

.item-card {
  background: #cc3433 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;
  opacity: 1;
  color: white;
  border: none;
}

.item-card1 {
  background: #ffffff;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;
  filter: drop-shadow(0 0 0 #cc3433);
  border: none;
  color: black;
  border-radius: 14px;
}
.owl-image {
  width: 100px;
  height: 100px;
  margin-top: 2%;
  opacity: 1;
}
.avel-css {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

.home-demo {
  position: relative;
  margin: 0 8%;
}
.home-demo .owl-item.active.center .item-card1 {
  transform: scale(1.15);
  background: #cc3433 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 14px;

  color: white;
  border-radius: 14px;
}
/* filter: drop-shadow(0 0 0 #cc3433); */
.home-demo .owl-item.active.center .owl-image {
  filter: drop-shadow(0 0 0 white);
  opacity: 1;
}

.home-demo .owl-item:not(.active.center) .owl-image {
  filter: drop-shadow(0px 0px 0px #cc3433);
  opacity: 1;
}


/* About page css  */

